/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional Styles */
main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
section {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: -100vh;
  overflow: hidden;
}
